
## Test Results for Crash105

### Playwright
- Total tests: 31
- Passed tests: 31

### LightHouse

- Performance score: 100
- Accessibility score: 100
- Best practices score: 100
- SEO score: 100
- Average Lighthouse score: 100
