:root {
  --color-primary: #023047;
  --color-secondary: #020887;
  --color-accent: #8ac926;
  --hover-color: #88b7d8;
  --base-spacing: 1.5rem;
  --section-spacing: 2.5rem;
  --sidebar-spacing: 1.5rem;
  --font-primary: "Work Sans", sans-serif;
  --font-secondary: "Nunito", sans-serif;
  --base-font-size: 1rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --base-line-height: 1.5;
  --section-separator: 1px solid var(--color-accent);
  --icon-font-size: 2rem;
  --transition-speed: 0.3s;
}
html,
body {
  margin: 0;
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-size: cover;
  color: var(--color-primary);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

.menu {
  display: flex;
  justify-content: center;

  gap: 30px;

  margin: auto;
}

.menu-item {
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: red;
}

.sidebar-bottom {
  color: #ffcc00;
}
.sidebar-top1 {
  color: #ffcc00;
}
.container {
  display: flex;
  flex-direction: row-reverse;
  max-width: 90vw;
  margin: 2rem auto;
  padding: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
}
.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--sidebar-spacing);
  background-color: var(--color-secondary);
  color: white;
}
.sidebar .portrait img {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
}
.links {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  color: #ffcc00;
}
.links a {
  color: inherit;
  font-size: var(--icon-font-size);
  text-decoration: none;
  transition: color var(--transition-speed) ease,
    transform var(--transition-speed) ease;
}
.links a:hover {
  color: var(--hover-color);
  transform: scale(1.1);
}
.main-content {
  flex: 3;
  padding: var(--section-spacing);
  color: #990000;
}
.main-content section,
.main-content header {
  margin-bottom: var(--section-spacing);
  padding-bottom: var(--section-spacing);
  border-bottom: var(--section-separator);
}
.main-content section:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: calc(0.5 * var(--base-spacing));
  margin-bottom: 1rem;
}
.skill-list li {
  display: flex;
  align-items: center;
}
.fa-skill-icon {
  margin-right: var(--base-spacing);
  font-size: var(--icon-font-size);
}
@media (max-width: 768px) {
  body {
    background: 0;
  }
  .container {
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  .sidebar {
    order: -1;
    height: 100vh;
    overflow-y: auto;
  }
  .main-content {
    padding-top: 1rem;
  }
}
@media print {
  :root {
    --base-font-size: 12pt;
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Times New Roman", serif;
    color: #333;
  }
  .container {
    flex-direction: column;
    margin: 0.1rem;
  }
  .sidebar,
  .main-content,
  p {
    padding: 0.2rem;
  }
  .sidebar {
    order: -1;
    height: auto;
  }
  .main-content {
    padding-top: 0.2rem;
  }
  p {
    text-align: justify;
    margin-bottom: 0.2rem;
  }
  .skill-list {
    grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
    gap: calc(0.5 * var(--base-spacing));
  }
  .links,
  h1,
  .portrait {
    display: none;
  }
  .main-content section,
  .main-content header {
    margin-bottom: calc(0.8 * var(--section-spacing));
    padding-bottom: calc(0.8 * var(--section-spacing));
    border-bottom: calc(0.8 * var(--section-separator));
  }
}
